@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto"),
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
}

/* Global */

*,
::after,
::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  background: #FB565A;
  border-radius: 3px;
  padding: 15px 54px;
  text-decoration: none;
  text-transform: uppercase;
  
}

/* Style */

.page-header {
  padding-top: 50px;
  background-color: #EEEEEE;
}

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-navigation-logotype-img {
  display: block;
  width: 160px;
  height: 65px;
}

.main-navigation-logotype-img:hover,
.main-navigation-logotype-img:focus {
  opacity: 0.7;
}

.main-navigation-logotype-img:active {
  opacity: 0.3;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-link,
.user-navigation-cart {
  margin-right: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.main-navigation-item:last-child .main-navigation-link {
  margin: 0;
}

.main-navigation-link:hover,
.main-navigation-link:focus,
.user-navigation-cart:hover,
.user-navigation-cart:focus {
  color: #FB565A;
}

.main-navigation-link:active,
.user-navigation-cart:active {
  color: rgba(0, 0, 0, 0.3);  
}


.user-navigation-cart {
  margin: 0;
}

/* Slider */

.slider-advantages {
  background-color: #EEEEEE;
  padding-top: 1px;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0 0 25px 0;
}

.slide-subtitle {
  color: #283136;
  margin: 0 0 38px 0;
}

.slide-button:hover,
.slide-button:focus {
  background-color: #E74246;
}

.slide-button:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.slide-right-box img {
  display: block;
  object-fit: contain;
}

.slide-2,
.slide-3 {
  display: none;
}

/* Services */

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid #EEEEEE;
}

.services-list {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  max-width: 300px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-item:last-child {
  margin: 0;
}

.services-title {
  margin-top: 25px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services-subtitle {
  color: #283136;
  margin: 0;
  margin-bottom: 32px;
}

.services-image {
  order: -1;
}

.services-button-site:hover,
.services-button-site:focus {
  background: #E74246;
}

.services-button-site:active {
  background: #D7373B;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);  
}

.services-button-application {
  background: #00CA74;
}

.services-button-application:hover,
.services-button-application:focus {
  background: #00BC6C;
}

.services-button-application:active {
  background: #00AA62;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.services-button-presentation {
  background: #EFC849;
}

.services-button-presentation:hover,
.services-button-presentation:focus {
  background: #EAB534;
}

.services-button-presentation:active {
  background: #E5A722;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}



/* About */

.about {
  padding-top: 40px;
  margin-bottom: 73px;
  display: flex;
  justify-content: space-between;
  color: #283136;
}

.about-box-left {
  max-width: 650px;
}

.about-box-left h3 {
  margin: 0;
  margin-top: 34px;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.about-box-left .text {
  margin: 0;
  margin-bottom: 40px;
}

.about-box-left .text-uppercase {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  margin-bottom: 23px;
}

.about-services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-services-item {
  padding-left: 32px;
  margin-bottom: 20px;
}

.about-box-right {
  max-width: 360px;
}

.about-box-right p {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 37px 0 31px 0;
}  

/* .flex {
  display: flex;
  justify-content: space-between;
}

.about-box-right dl {
  margin: 0;
} */

.about-box-right tr:first-child {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: #000000;
}

.about-box-right sup {
  font-size: 26px;
  line-height: 40px;
}

.about-box-right dd {
  margin: 0;
  line-height: 18px;
  color: #283136;
}


/* Clients */

.clients {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 184px;
  border-bottom: 2px solid #EEEEEE;
  border-top: 2px solid #EEEEEE;
  margin-bottom: 80px;
}

.clients:hover {
  border-color: rgba(0, 0, 0, 0.2);
}

.clients img {
  opacity: 0.2;
}

.clients img:hover,
.clients img:focus {
  opacity: 1;
}

.clients img:active {
  opacity: 0.1;
}

/* Footer */

.page-footer {
  background-color: #FFFFFF;
}

.map-and-contacts {
  height: 416px;
  border: 1px solid #FFFFFF;
  background-color: #757575;
}

.container-contacts {
  max-width: 320px;
  padding: 50px;
  margin-top: 54px;
  background-color: #FFFFFF;
}

.container-contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
}

.container-contacts p {
  line-height: 18px;
  color: #666666;
  margin: 0;
  margin-bottom: 37px;
}

.container-contacts a {
  display: inline-block;
  margin-top: 17px;
  line-height: 18px;
  color: #666666;
  text-decoration: none;
}

.container-contacts a:hover,
.container-contacts a:focus {
  color: #E74246;
  text-decoration: underline;
}

.container-contacts button {
  display: block;
  width: 219px;
  height: 50px;
  text-align: center;
  border: none;
  font-size: 16px;
  padding: 0;
}

.container-contacts button:hover {
  background: #E74246;
  cursor: pointer;
}

/* Socials */

.socials {
  display: flex;
  padding-top: 68px;
  padding-bottom: 68px;
}

.container-socials {
  width: 261px;
  display: flex;
  justify-content: space-between;
  margin-right: 139px;
}

.container-socials a {
  width: 81px;
  height: 81px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  border-radius: 50%;
}

.container-socials a:hover,
.container-socials a:focus {
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.container-socials a:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
} 

.container-socials a:active img {
  opacity: 0.3;
}

.socials-discount p:first-child {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 10px;
}

.socials-discount p:last-child {
  line-height: 22px;
  color: #444444;
}


/* Modal */

.modal {
  display: none;
}